@using System.Globalization
@using LojaVirtual.Apresentacao.ViewModels
@using LojaVirtual.Modelo
@model LojaVirtual.Apresentacao.ViewModels.MercadoriaViewModel

@{
    string tamanhosDisponiveis = MercadoriasViewModel.TamanhosDisponiveis;    
}  

<!DOCTYPE html>

<html>

    <head>
        <meta name="viewport" content="width=device-width" />
        <link href="~/Content/bootstrap/css/bootstrap.css" media="screen" rel="stylesheet" />
        <link href="~/Content/jasny-bootstrap/css/jasny-bootstrap.css" media="screen" rel="stylesheet"/>
        <title>Adiconar novo Produto</title>
    </head>

    @using (Html.BeginForm())
    {
        <legend>Cadastro de nova Mercadoria</legend>
        <label><strong>Nome</strong></label>
        <div>@Html.TextBoxFor(a => a.Nome, new { @class = "input-xxlarge" })</div>
        <label><strong>Descrição</strong></label>
        <div>@Html.TextAreaFor(a => a.Descricao, new { @class = "span7", @rows = 5, @id="texto" })</div>
        <label><strong>Preço</strong></label>
        <div class="input-prepend">
            <span class="add-on">R$</span>
            @Html.TextBoxFor(a => a.Preco, new { @class = "input-large", @id = "prependedInput", @placeholder = "Exemplo: 51,99" })
        </div>
        <label><strong>Categorias</strong></label>
        <div>@Html.ListBox("Categorias",
                           new List<SelectListItem>(MercadoriasViewModel.CategoriasDisponiveis.Select(c => new SelectListItem { Text = c.Nome.ToString(CultureInfo.InvariantCulture), Value = c.Id.ToString() }).ToList()),
                           new { @class = "input-large" })
        </div>
        <label><strong>Cores</strong></label>
        <div>@Html.ListBox("Cores",
                           new List<SelectListItem>(Catalogo.Cores.Select(c => new SelectListItem { Text = c, Value = c }).ToList()),
                           new { @class = "input-large" })
        </div>
        <label><strong>Número de Tamanhos Disponíveis</strong></label>
        <div>@Html.TextBoxFor(a => a.NumeroDeTamanhos, new { @class = "input-large", @id = "Tamanho" })</div>
        <label><strong>Tamanhos</strong></label>
        <table class="table table-bordered table table-striped" id="tabelaTamanho">
            <thead>
                <tr style="width:50px; height: 20px; ">
                    <th style="width:50px; height: 20px; ">Tamanho</th>
                    <th style="width:50px; height: 20px;" >Quantidade</th>
                </tr>
            </thead>
            <tbody>
                <tr style="width:50px; height: 20px;">
                    <td style="width:50px; height: 20px;"  ></td>
                    <td style="width:50px; height: 20px;"></td>
                </tr>
            </tbody>
        </table>
        <div class="alert-info">
            <label><strong>Adicionar Fotos</strong></label>
            <ul class="inline">       
                <li class="fileupload fileupload-new" data-provides="fileupload" data-name="imagem1">
                    <input type="hidden" name="imagem1" id="imagem1" value="1" />
                    <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;"><img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image" /></div>
                    <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                    <div>
                        <span class="btn btn-file">
                            <span class="fileupload-new">Procurar Imagem...</span>
                            <span class="fileupload-exists">Alterar</span><input type="file" />
                        </span>
                        <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Excluir</a>
                    </div>
                </li>
                <li class="fileupload fileupload-new" data-provides="fileupload" data-name="imagem2">
                    <input type="hidden" name="imagem2" id="imagem2" value="1" />
                    <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;"><img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image" /></div>
                    <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                    <div>
                        <span class="btn btn-file">
                            <span class="fileupload-new">Procurar Imagem...</span>
                            <span class="fileupload-exists">Alterar</span><input type="file" />
                        </span>
                        <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Excluir</a>
                    </div>
                </li>
                <li class="fileupload fileupload-new" data-provides="fileupload" data-name="imagem3">
                    <input type="hidden" name="imagem3" id="imagem3" value="1" />
                    <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;"><img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image" /></div>
                    <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                    <div>
                        <span class="btn btn-file">
                            <span class="fileupload-new">Procurar Imagem...</span>
                            <span class="fileupload-exists">Alterar</span><input type="file" />
                        </span>
                        <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Excluir</a>
                    </div>
                </li>
                <li class="fileupload fileupload-new" data-provides="fileupload" data-name="imagem4">
                    <input type="hidden" name="imagem4" id="imagem4" value="1" />
                    <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;"><img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image" /></div>
                    <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                    <div>
                        <span class="btn btn-file">
                            <span class="fileupload-new">Procurar Imagem...</span>
                            <span class="fileupload-exists">Alterar</span><input type="file" />
                        </span>
                        <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Excluir</a>
                    </div>
                </li>
                <li class="fileupload fileupload-new" data-provides="fileupload" data-name="imagem5">
                    <input type="hidden" name="imagem5" id="imagem5" value="1" />
                    <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;"><img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image" /></div>
                    <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                    <div>
                        <span class="btn btn-file">
                            <span class="fileupload-new">Procurar Imagem...</span>
                            <span class="fileupload-exists">Alterar</span><input type="file" />
                        </span>
                        <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Excluir</a>
                    </div>
                </li>
            </ul>
        </div>
        
        <p>
            <input type="submit" name= "Adicionar" value="Cadastrar" class="btn btn-primary" />
            @Html.ActionLink("Voltar", "Produtos", new { }, new { @class = "btn btn-inverse" })
        </p>
        <script type="text/javascript" src="/Scripts/jquery-1.9.1.js"></script>
        <script type="text/javascript" src="~/Content/bootstrap/js/bootstrap.js"></script>    
        <script src="~/Content/jasny-bootstrap/js/jasny-bootstrap.js"></script>
        
        <script>
            $("table.table tr th").bind("click", headerClick);
            $("table.table tr td").bind("click", dataClick);

            $(document).keypress(function (e) {
                if (e.keyCode == 13)
                    if (e.target.id == 'texto') {
                        return true;
                    }
                    else if (e.target.id == 'Tamanho') {
                        tamanhoClick();
                    return false;
                }
                else{
                    return false;
                }
            });

            
           function tamanhoClick() {
                var myTable = document.getElementById("tabelaTamanho");
                var j = document.getElementById("Tamanho").value;
                var tamanhos = '@tamanhosDisponiveis';
                var tamanho = tamanhos.split(',');
                var opcoes = "<select>";
                for (var i = 0; i < tamanho.length; i++) {
                    opcoes = opcoes + "<option value=" + tamanho[i] + ">" + tamanho[i] + "</option>";
                }
                opcoes = opcoes + "</select>";

                var rows = [];
                var cells = [];
                while (myTable.hasChildNodes()) {
                    myTable.removeChild(myTable.lastChild);
                }
               
                for (var i = 0; i <= j; i++) {
                    rows[i] = myTable.insertRow(i);
                    cells[i] = [];

                    for (var x = 0; x < 2 ; x++) {
                        cells[i][x] = document.createElement((x == 0) ? "th" : "td");
                        
                        if (i == 0) {
                            cells[i][x].innerHTML = "<label>";
                            if (x == 0) {
                                cells[i][x].textContent = "Tamanho";
                            } else {
                                cells[i][x].textContent = "Quantidade";
                            }
                        } else {
                            if (x == 0) {
                                cells[i][x].innerHTML = opcoes;
                                
                            } else {
                                cells[i][x].innerHTML = "<input>";
                            }
                            
                        }
                        rows[rows.length - 1].appendChild(cells[i][x]);
                    }
                }
                
            }
           document.getElementById('Tamanho').addEventListener('change', tamanhoClick);

            tamanhoClick();
            
            function headerClick() {
                }

            function dataClick(e) {
                console.log(e);
                if (e.currentTarget.innerHTML != "") return;
                if (e.currentTarget.contentEditable != null) {
                    $(e.currentTarget).attr("contentEditable", true);
                } else {
                    $(e.currentTarget).append("<input type='text'>");
                }
            }
            
        </script>
    }
    
    
    
</html>

    