@using LojaVirtual.Apresentacao.ViewModels
@model MercadoriaViewModel



<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap/css/bootstrap.css" media="screen" rel="stylesheet" />
    <link href="~/Content/jasny-bootstrap/css/jasny-bootstrap.css" media="screen" rel="stylesheet" />
</head>

@using (Html.BeginForm())
{
    <legend>Detalhes da Mercadoria</legend>
    <label><strong>Nome</strong></label>
    <div>@Html.DisplayFor(a => a.Nome)</div>
    <p>
    </p>
    <label><strong>Descrição</strong></label>
    <div>@Html.DisplayFor(a => a.Descricao)</div>
    <p>
    </p>
    <label><strong>Preço</strong></label>
    <div>
        R$
            @Html.DisplayFor(a => a.Preco)
    </div>
    <p>
    </p>
    <label><strong>Categorias</strong></label>
    <table class="table table-condensed table-bordered">
        <tr>
            <th><strong>Nome</strong></th>
            <th><strong>Descrição</strong></th>
        </tr>
        @foreach (var item in Model.Categorias)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
            </tr>
        }
    </table>

    <p>
    </p>
    <label><strong>Cores</strong></label>
    <table class="table table-condensed table-bordered">
        @foreach (var item in Model.Cores)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item)
                </td>
            </tr>
        }
    </table>

    <p>
    </p>
    <label><strong>Tamanhos</strong></label>
    <table class="table table-condensed table-bordered">
        <tr>
            <th><strong>Tamanho</strong></th>
            <th><strong>Quantidade</strong></th>
        </tr>
        @foreach (var item in Model.Tamanhos)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Key)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
            </tr>
        }
    </table>
    <div>
        <label><strong>Fotos</strong></label>
        <ul class="inline">
            @foreach (var item in Model.Fotos)
            {
                <li class="fileupload fileupload-new" data-provides="fileupload" data-name="imagem1">
                    <input type="file" style="visibility: hidden; position: absolute; top: 0; left: 0" name="imagem1" id="imagem1" value="1" />
                    <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
                        <img src=@item alt="Erro"/>
                    </div>
                </li>
            }
        </ul>
    </div>
        
    <p>
        @Html.ActionLink("Editar", "Editar", new {id = Model.Id }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Voltar", "Listar", new { }, new { @class = "btn btn-inverse" })
    </p>
    <script type="text/javascript" src="/Scripts/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="~/Content/bootstrap/js/bootstrap.js"></script>    
    <script src="~/Content/jasny-bootstrap/js/jasny-bootstrap.js"></script>
        
}



</html>

