@using System.Globalization
@using LojaVirtual.Apresentacao.ViewModels
@model LojaVirtual.Modelo.Produto

<!DOCTYPE html>

<html>

    <head>
        <meta name="viewport" content="width=device-width" />
        <link href="~/Content/bootstrap/css/bootstrap.css" media="screen" rel="stylesheet" />
        <link href="~/Content/jasny-bootstrap/css/jasny-bootstrap.css" media="screen" rel="stylesheet"/>
        <title>Adiconar novo Produto</title>
    </head>

    @using (Html.BeginForm())
    {
        <legend>Cadastro de nova Mercadoria</legend>
        <label><strong>Nome</strong></label>
        <div>@Html.TextBoxFor(a => a.Nome, new {@class = "input-xxlarge"})</div>
        <label><strong>Descrição</strong></label>
        <div>@Html.TextAreaFor(a => a.Descricao, new {@class = "span7", @rows=5})</div>
        <label><strong>Preço</strong></label>
        <div class="input-prepend">
            <span class="add-on">R$</span>
            @Html.TextBoxFor(a => a.Preco, new {@class = "input-large",@id="prependedInput",@placeholder= "Exemplo: 51,99"})
        </div>
        <label><strong>Categorias</strong></label>
        <div>@Html.ListBox("Categorias",
                           new List<SelectListItem>(ProdutosViewModel.CategoriasDisponiveis.Select(c => new SelectListItem {Text = c.Nome.ToString(CultureInfo.InvariantCulture), Value = c.Id.ToString()}).ToList()),
                           new {@class = "input-large"})
        </div>
        <label><strong>Cores</strong></label>
        <div>@Html.ListBox("Cores",
                           new List<SelectListItem>(ProdutosViewModel.Cores.Select(c => new SelectListItem {Text = c, Value = c}).ToList()),
                           new {@class = "input-large"})
        </div>
        <label><strong>Número de Tamanhos Disponíveis</strong></label>
        <div>@Html.TextBoxFor(a => a.NumeroDeTamanhos, new {@class = "input-large",@id = "Tamanho"})</div>
        <label><strong>Tamanhos</strong></label>
        <table class="table table-bordered table table-striped" id="tabelaTamanho">
            <thead>
                <tr style="width:50px; height: 20px; ">
                    <th style="width:50px; height: 20px; ">Tamanho</th>
                    <th style="width:50px; height: 20px;" >Quantidade</th>
                </tr>
            </thead>
            <tbody>
                <tr style="width:50px; height: 20px;">
                    <td style="width:50px; height: 20px;"  ></td>
                    <td style="width:50px; height: 20px;"></td>
                </tr>
            </tbody>
        </table>
        <div class="alert-info">
            <label><strong>Adicionar Fotos</strong></label>
            <ul class="inline">       
                <li class="fileupload fileupload-new" data-provides="fileupload" data-name="myimage">
                    <input type="hidden" name="myimage" id="myimage" value="1" />
                    <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;"><img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image" /></div>
                    <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                    <div>
                        <span class="btn btn-file">
                            <span class="fileupload-new">Procurar Imagem...</span>
                            <span class="fileupload-exists">Alterar</span><input type="file" />
                        </span>
                        <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Excluir</a>
                    </div>
                </li>
                <li class="fileupload fileupload-new" data-provides="fileupload">
                    <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;"><img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image" /></div>
                    <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                    <div>
                        <span class="btn btn-file">
                            <span class="fileupload-new">Procurar Imagem...</span>
                            <span class="fileupload-exists">Alterar</span><input type="file" />
                        </span>
                        <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Excluir</a>
                    </div>
                </li>
            </ul>
        </div>
        
        <p>
            @*<input type="submit" name= @ProdutosViewModel.AdicionarProduto value="Adicionar" class="btn btn-primary" />*@
            @Html.ActionLink("Voltar", "Produtos", new { }, new { @class = "btn btn-inverse" })
        </p>
        <script type="text/javascript" src="/Scripts/jquery-1.9.1.js"></script>
        <script type="text/javascript" src="~/Content/bootstrap/js/bootstrap.js"></script>    
        <script src="~/Content/jasny-bootstrap/js/jasny-bootstrap.js"></script>
        
        <script>
            $("table.table tr th").bind("click", headerClick);
            $("table.table tr td").bind("click", dataClick);
            
            
            function tamanhoClick() {
                var myTable = document.getElementById("tabelaTamanho");
                var j = document.getElementById("Tamanho").value;
                var rows = [];
                var cells = [];

                while (myTable.hasChildNodes()) {
                    myTable.removeChild(myTable.lastChild);
                }
               
                for (var i = 0; i <= j; i++) {
                    rows[i] = myTable.insertRow(i);
                    cells[i] = [];

                    for (var x = 0; x < 2 ; x++) {
                        cells[i][x] = document.createElement((x == 0) ? "th" : "td");
                        
                        if (i == 0) {
                            cells[i][x].innerHTML = "<label>";
                            if (x == 0) {
                                cells[i][x].textContent = "Tamanho";
                            } else {
                                cells[i][x].textContent = "Quantidade";
                            }
                        } else {
                            if (x == 0) {
                                cells[i][x].innerHTML = "<select> " +
                                    "<option value='tamanhoUnico'>Único</option>" +
                                    "<option value='tamanhoPP'>PP</option>" +
                                    "<option value='tamanhoP'>P</option> " +
                                    "<option value='tamanhoM'>M</option>" +
                                    "<option value='tamanhoG'>G</option>" +
                                    "<option value='tamanhoGG'>GG</option>" +
                                    "<option value='tamanho34'>34</option>" +
                                    "<option value='tamanho36'>36</option>" +
                                    "<option value='tamanho38'>38</option>" +
                                    "<option value='tamanho40'>40</option>" +
                                    "<option value='tamanho42'>42</option>" +
                                    "<option value='tamanho44'>44</option>" +
                                    "<option value='tamanho46'>46</option>" +
                                    "<option value='tamanho48'>48</option>" +
                                    "<option value='tamanho50'>50</option>" +
                                    " </select>";
                            } else {
                                cells[i][x].innerHTML = "<input>";
                            }
                            
                        }
                        rows[rows.length - 1].appendChild(cells[i][x]);
                    }
                }
                
            }
            
            document.getElementById('Tamanho').addEventListener('change', tamanhoClick);

            tamanhoClick();
            
            function headerClick() {
                }

            function dataClick(e) {
                console.log(e);
                if (e.currentTarget.innerHTML != "") return;
                if (e.currentTarget.contentEditable != null) {
                    $(e.currentTarget).attr("contentEditable", true);
                } else {
                    $(e.currentTarget).append("<input type='text'>");
                }
            }
            
        </script>
    }
    
    
    
</html>

    